arc-system.site/flows.json
[{"id":"737faadcd65adf66","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"a3c4126fc4afe81d","type":"mqtt in","z":"737faadcd65adf66","name":"temperature","topic":"ras/temperature","qos":"1","datatype":"auto-detect","broker":"ce99fbfd46cd3eaf","nl":false,"rap":true,"rh":0,"inputs":0,"x":530,"y":440,"wires":[["7913f6e5955504e0","5512145f7ee701b4","b8096d5aee7b71c0"]]},{"id":"7913f6e5955504e0","type":"ui_gauge","z":"737faadcd65adf66","name":"","group":"d13e2ed89db60c20","order":11,"width":3,"height":3,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":440,"wires":[]},{"id":"511f5a2db7d6b363","type":"mqtt in","z":"737faadcd65adf66","name":"turbidity","topic":"ras/turbidity","qos":"1","datatype":"auto-detect","broker":"ce99fbfd46cd3eaf","nl":false,"rap":true,"rh":0,"inputs":0,"x":550,"y":280,"wires":[["0d74bb0486ec735f","526a066d4ad78218"]]},{"id":"0d74bb0486ec735f","type":"ui_gauge","z":"737faadcd65adf66","name":"","group":"d13e2ed89db60c20","order":17,"width":3,"height":3,"gtype":"gage","title":"Turbidity","label":"NTU","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":280,"wires":[]},{"id":"89227f9739b66453","type":"mqtt in","z":"737faadcd65adf66","name":"tds","topic":"ras/tds","qos":"1","datatype":"auto-detect","broker":"ce99fbfd46cd3eaf","nl":false,"rap":true,"rh":0,"inputs":0,"x":550,"y":200,"wires":[["c9198d5c0a5b68bc","3aa75152a1501b7f"]]},{"id":"c9198d5c0a5b68bc","type":"ui_gauge","z":"737faadcd65adf66","name":"","group":"d13e2ed89db60c20","order":19,"width":3,"height":3,"gtype":"gage","title":"TDS","label":"ppm","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":200,"wires":[]},{"id":"5ed797521edc327e","type":"mqtt in","z":"737faadcd65adf66","name":"do","topic":"ras/oxygen","qos":"1","datatype":"auto-detect","broker":"ce99fbfd46cd3eaf","nl":false,"rap":true,"rh":0,"inputs":0,"x":550,"y":360,"wires":[["e05162f66743adfc","bbd4c5d8f87089bf"]]},{"id":"e05162f66743adfc","type":"ui_gauge","z":"737faadcd65adf66","name":"","group":"d13e2ed89db60c20","order":13,"width":3,"height":3,"gtype":"gage","title":"DO","label":"mg/L","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":360,"wires":[]},{"id":"08b5bdb7b07c532a","type":"mqtt out","z":"737faadcd65adf66","name":"","topic":"relay/aerator","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ce99fbfd46cd3eaf","x":750,"y":900,"wires":[]},{"id":"75b9a54654b3f907","type":"ui_switch","z":"737faadcd65adf66","name":"","label":"Bio->Waste","tooltip":"","group":"c9579c803b55a189","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":690,"y":980,"wires":[["956a03314fa76c36"]]},{"id":"956a03314fa76c36","type":"mqtt out","z":"737faadcd65adf66","name":"","topic":"relay/bio-waste","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ce99fbfd46cd3eaf","x":860,"y":980,"wires":[]},{"id":"537e7c5d2f6a9ae4","type":"ui_switch","z":"737faadcd65adf66","name":"","label":"Mecha->Bio","tooltip":"","group":"c9579c803b55a189","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":690,"y":1040,"wires":[["32a54f7a470772f5"]]},{"id":"32a54f7a470772f5","type":"mqtt out","z":"737faadcd65adf66","name":"","topic":"relay/mecha-bio","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ce99fbfd46cd3eaf","x":860,"y":1040,"wires":[]},{"id":"ad43256bd1c3c177","type":"ui_switch","z":"737faadcd65adf66","name":"","label":"Mecha->Waste","tooltip":"","group":"c9579c803b55a189","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":680,"y":1100,"wires":[["da276988c435428e"]]},{"id":"da276988c435428e","type":"mqtt out","z":"737faadcd65adf66","name":"","topic":"relay/mecha-waste","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ce99fbfd46cd3eaf","x":870,"y":1100,"wires":[]},{"id":"da39c8e3aae3a539","type":"ui_switch","z":"737faadcd65adf66","name":"","label":"Vortex->Mecha","tooltip":"","group":"c9579c803b55a189","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":680,"y":1160,"wires":[["abf3aad795c2128f"]]},{"id":"abf3aad795c2128f","type":"mqtt out","z":"737faadcd65adf66","name":"","topic":"relay/vortex-mecha","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ce99fbfd46cd3eaf","x":870,"y":1160,"wires":[]},{"id":"0f950a517884d138","type":"ui_switch","z":"737faadcd65adf66","name":"","label":"Bio->Pond","tooltip":"","group":"c9579c803b55a189","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":690,"y":1220,"wires":[["a2fdfaa593c92050"]]},{"id":"a2fdfaa593c92050","type":"mqtt out","z":"737faadcd65adf66","name":"","topic":"relay/bio-pond","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ce99fbfd46cd3eaf","x":860,"y":1220,"wires":[]},{"id":"b06bce1d631a250a","type":"ui_switch","z":"737faadcd65adf66","name":"","label":"Ibc-Pump","tooltip":"","group":"6bc79e07b15f7ce0","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":700,"y":1280,"wires":[["a056f41a30e1e1c5"]]},{"id":"a056f41a30e1e1c5","type":"mqtt out","z":"737faadcd65adf66","name":"","topic":"relay/ibc-pump","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ce99fbfd46cd3eaf","x":860,"y":1280,"wires":[]},{"id":"5d020d886ea20ddc","type":"ui_switch","z":"737faadcd65adf66","name":"","label":"Pump","tooltip":"","group":"6bc79e07b15f7ce0","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":710,"y":1340,"wires":[["2454eb5019aa57b9"]]},{"id":"2454eb5019aa57b9","type":"mqtt out","z":"737faadcd65adf66","name":"","topic":"relay/sump-pump","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ce99fbfd46cd3eaf","x":870,"y":1340,"wires":[]},{"id":"1c1ed36ebbe4828f","type":"ui_switch","z":"737faadcd65adf66","name":"","label":"Vortex->Waste","tooltip":"","group":"c9579c803b55a189","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":680,"y":1400,"wires":[["a9d63673d0621c45"]]},{"id":"a9d63673d0621c45","type":"mqtt out","z":"737faadcd65adf66","name":"","topic":"relay/vortex-waste","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ce99fbfd46cd3eaf","x":870,"y":1400,"wires":[]},{"id":"bbd4c5d8f87089bf","type":"change","z":"737faadcd65adf66","name":"","rules":[{"t":"set","p":"oxygen","pt":"flow","to":"$number(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":320,"wires":[[]]},{"id":"d95b5fd8f52ddecc","type":"ui_template","z":"737faadcd65adf66","group":"7f31cbacded70ed2","name":"CSS-Basics","order":4,"width":0,"height":0,"format":"<style>\n    body {\n        height: fit-content;\n        min-height: 100vh;\n        /* This ensures a minimum height of the viewport height */\n        margin: 0;\n        /* Remove default margin to avoid unnecessary spacing */\n    }\n\n    button {\n        border: none;\n        border-radius: 8px;\n        text-align: center;\n        width: 50%;\n        transition-duration: 0.4s;\n        background-color: #ddffdd;\n        color: white;\n    }\n\n    button:hover {\n        background-color: #4caf50;\n        color: black !important;\n    }\n\n    .nr-dashboard-gauge {\n        border-radius: 1rem;\n        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);\n    }\n\n    .nr-dashboard-theme ui-card-panel {\n        border: none;\n    }\n\n    .nr-dashboard-theme .nr-dashboard-gauge-title {\n        margin: 0;\n        margin-top: 0.5rem;\n        font-size: 0.75rem;\n    }\n\n    /* #Tab_Tab_1{ */\n    /* position: sticky; */\n    /* top: 6.5rem; */\n    /* margin-top: 2rem; */\n    /* margin-bottom: 2rem; */\n    /* } */\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","x":150,"y":160,"wires":[[]]},{"id":"abed5db99ca43245","type":"mysql","z":"737faadcd65adf66","mydb":"c987c4c743e73c47","name":"crayfishDB","x":1030,"y":240,"wires":[[]]},{"id":"cf1d66f1be9d3f6f","type":"inject","z":"737faadcd65adf66","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":1030,"y":60,"wires":[["9c0b48b0c12965ef"]]},{"id":"526a066d4ad78218","type":"change","z":"737faadcd65adf66","name":"","rules":[{"t":"set","p":"turbidity","pt":"flow","to":"$number(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":240,"wires":[[]]},{"id":"3aa75152a1501b7f","type":"change","z":"737faadcd65adf66","name":"","rules":[{"t":"set","p":"tds","pt":"flow","to":"$number(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":160,"wires":[[]]},{"id":"9c0b48b0c12965ef","type":"function","z":"737faadcd65adf66","name":"COMBINE DATA","func":"msg = {\n    oxygen : flow.get(\"oxygen\"),\n    turbidity : flow.get(\"turbidity\"),\n    tds : flow.get(\"tds\"),\n    temperature : flow.get(\"temperature\")\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":120,"wires":[["60c9ec5db97dfcb5"]]},{"id":"60c9ec5db97dfcb5","type":"function","z":"737faadcd65adf66","name":"INSERT","func":"msg.topic = \"INSERT INTO sensordata (oxygen, turbidity, tds, temperature) \" +\n            \"VALUES (\" + msg.oxygen + \", \" + msg.turbidity + \", \" + msg.tds + \", \" + msg.temperature + \");\";\n\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":180,"wires":[["abed5db99ca43245"]]},{"id":"fed3a94fa5cf0d05","type":"function","z":"737faadcd65adf66","name":"","func":"var currentDate = new Date();\nvar currentHour = currentDate.getHours();\nvar currentMin = currentDate.getMinutes();\n\nif ((currentHour >= 18 || currentHour < 8) && currentMin <= 28) {\n    var delayTime = 0.5 * 60 * 1000;\n    \n    // Determine the state to be sent based on the time\n    var state = (currentHour < 5) ? 0 : 1;\n\n    // Set up a recurring pattern with a delay\n    setTimeout(function () {\n        // Send the state to MQTT out node\n        node.send({ payload: state });\n\n        // Toggle the state for the next iteration\n        state = 1 - state;\n        \n        // Continue the pattern\n        setInterval(function () {\n            node.send({ payload: state });\n            state = 1 - state;\n        }, delayTime);\n    }, delayTime - currentDate.getMinutes() * 60 * 1000 - currentDate.getSeconds() * 1000);\n}","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":640,"wires":[[]]},{"id":"07eada24b4121ae7","type":"debug","z":"737faadcd65adf66","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":760,"wires":[]},{"id":"5512145f7ee701b4","type":"change","z":"737faadcd65adf66","name":"","rules":[{"t":"set","p":"temperature","pt":"flow","to":"$number(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":400,"wires":[[]]},{"id":"32167b60c5ea80ea","type":"function","z":"737faadcd65adf66","name":"return zero","func":"node.send({ payload: 0 });","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":760,"wires":[["08b5bdb7b07c532a","07eada24b4121ae7"]]},{"id":"c479e7c638067cc1","type":"function","z":"737faadcd65adf66","name":"return one","func":"node.send({ payload: 1 });","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":1240,"wires":[["08b5bdb7b07c532a","07eada24b4121ae7"]]},{"id":"3409ffc68fb575e0","type":"inject","z":"737faadcd65adf66","name":"18","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 18 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":760,"wires":[["32167b60c5ea80ea"]]},{"id":"e91db4412e39eac3","type":"inject","z":"737faadcd65adf66","name":"19","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 19 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":800,"wires":[["32167b60c5ea80ea"]]},{"id":"4a1f0b103cf5bbb0","type":"inject","z":"737faadcd65adf66","name":"20","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 20 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":840,"wires":[["32167b60c5ea80ea"]]},{"id":"7481bff626b472e6","type":"inject","z":"737faadcd65adf66","name":"21","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 21 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":880,"wires":[["32167b60c5ea80ea"]]},{"id":"248feca32f8318c8","type":"inject","z":"737faadcd65adf66","name":"22","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":920,"wires":[["32167b60c5ea80ea"]]},{"id":"6c1431c8ddfdcddc","type":"inject","z":"737faadcd65adf66","name":"23","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":960,"wires":[["32167b60c5ea80ea"]]},{"id":"66e970a3b52cf8c0","type":"inject","z":"737faadcd65adf66","name":"00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1000,"wires":[["32167b60c5ea80ea"]]},{"id":"b3e6cf979dccf9e3","type":"inject","z":"737faadcd65adf66","name":"01","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 01 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1040,"wires":[["32167b60c5ea80ea"]]},{"id":"d093bed65fc8fc10","type":"inject","z":"737faadcd65adf66","name":"02","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 02 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1080,"wires":[["32167b60c5ea80ea"]]},{"id":"ed9d814ccbcca2b0","type":"inject","z":"737faadcd65adf66","name":"03","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 03 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1120,"wires":[["32167b60c5ea80ea"]]},{"id":"13781f94c902f7c2","type":"inject","z":"737faadcd65adf66","name":"04","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 04 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1160,"wires":[["32167b60c5ea80ea"]]},{"id":"b3283b624f2b4b61","type":"inject","z":"737faadcd65adf66","name":"05","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 05 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1200,"wires":[["32167b60c5ea80ea"]]},{"id":"bb03fc62818c0211","type":"inject","z":"737faadcd65adf66","name":"18:30","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 18 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1240,"wires":[["c479e7c638067cc1"]]},{"id":"08bcbcb81751e5d3","type":"inject","z":"737faadcd65adf66","name":"19:30","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 19 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1280,"wires":[["c479e7c638067cc1"]]},{"id":"7279bea7ed79c532","type":"inject","z":"737faadcd65adf66","name":"20:30","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 20 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1320,"wires":[["c479e7c638067cc1"]]},{"id":"9ae407562c091219","type":"inject","z":"737faadcd65adf66","name":"21:30","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 21 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1360,"wires":[["c479e7c638067cc1"]]},{"id":"d66fd9d2b4453610","type":"inject","z":"737faadcd65adf66","name":"22:30","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 22 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1400,"wires":[["c479e7c638067cc1"]]},{"id":"6d657302c4d5c643","type":"inject","z":"737faadcd65adf66","name":"23:30","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1440,"wires":[["c479e7c638067cc1"]]},{"id":"862b9430a9df080f","type":"inject","z":"737faadcd65adf66","name":"00:30","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1480,"wires":[["c479e7c638067cc1"]]},{"id":"45d3bd737b5c57a8","type":"inject","z":"737faadcd65adf66","name":"01:30","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 01 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1520,"wires":[["c479e7c638067cc1"]]},{"id":"417e61a2a5f60c34","type":"inject","z":"737faadcd65adf66","name":"02:30","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 02 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1560,"wires":[["c479e7c638067cc1"]]},{"id":"97761e06e4c6ad5c","type":"inject","z":"737faadcd65adf66","name":"03:30","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 03 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1600,"wires":[["c479e7c638067cc1"]]},{"id":"87b5295a83f6e96e","type":"inject","z":"737faadcd65adf66","name":"04:30","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 04 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1640,"wires":[["c479e7c638067cc1"]]},{"id":"7470d99fe989aba8","type":"inject","z":"737faadcd65adf66","name":"07","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":680,"wires":[["32167b60c5ea80ea"]]},{"id":"d00ddc41922a68d5","type":"inject","z":"737faadcd65adf66","name":"06","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":720,"wires":[["32167b60c5ea80ea"]]},{"id":"ff9eacf737968810","type":"inject","z":"737faadcd65adf66","name":"08","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 08 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":640,"wires":[["32167b60c5ea80ea"]]},{"id":"2123e6457cf41dac","type":"inject","z":"737faadcd65adf66","name":"09","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 09 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":600,"wires":[["32167b60c5ea80ea"]]},{"id":"931ff143b44e1a63","type":"inject","z":"737faadcd65adf66","name":"10","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 10 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":560,"wires":[["32167b60c5ea80ea"]]},{"id":"602573464e571cd7","type":"inject","z":"737faadcd65adf66","name":"11","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 11 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":520,"wires":[["32167b60c5ea80ea"]]},{"id":"f694b6f76d5a7956","type":"inject","z":"737faadcd65adf66","name":"12","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":480,"wires":[["32167b60c5ea80ea"]]},{"id":"e636b95a2f1e0716","type":"inject","z":"737faadcd65adf66","name":"13","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 13 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":440,"wires":[["32167b60c5ea80ea"]]},{"id":"345c7d2a390acb5e","type":"inject","z":"737faadcd65adf66","name":"14","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 14 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":400,"wires":[["32167b60c5ea80ea"]]},{"id":"1c594f2ab6f8dd27","type":"inject","z":"737faadcd65adf66","name":"15","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 15 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":360,"wires":[["32167b60c5ea80ea"]]},{"id":"2dd91aba40d3cda0","type":"inject","z":"737faadcd65adf66","name":"16","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 16 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":320,"wires":[["32167b60c5ea80ea"]]},{"id":"9e1963892aa74879","type":"inject","z":"737faadcd65adf66","name":"17","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 17 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":280,"wires":[["32167b60c5ea80ea"]]},{"id":"f228c7df2936539d","type":"mqtt in","z":"737faadcd65adf66","name":"flow","topic":"ras/flow","qos":"1","datatype":"auto-detect","broker":"ce99fbfd46cd3eaf","nl":false,"rap":true,"rh":0,"inputs":0,"x":430,"y":40,"wires":[[]]},{"id":"c004baa6d12500c3","type":"ui_switch","z":"737faadcd65adf66","name":"","label":"Change Water","tooltip":"","group":"b034de6bb5d039bf","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":680,"y":1620,"wires":[["8d2530ec35a61d07"]]},{"id":"8d2530ec35a61d07","type":"mqtt out","z":"737faadcd65adf66","name":"","topic":"process/change-water","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ce99fbfd46cd3eaf","x":880,"y":1620,"wires":[]},{"id":"8f279baf4a765900","type":"mqtt out","z":"737faadcd65adf66","name":"","topic":"misc/heater","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ce99fbfd46cd3eaf","x":930,"y":480,"wires":[]},{"id":"76f63420539407d9","type":"mqtt out","z":"737faadcd65adf66","name":"","topic":"misc/feeder","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ce99fbfd46cd3eaf","x":850,"y":1540,"wires":[]},{"id":"012a7c052b56747b","type":"mqtt in","z":"737faadcd65adf66","name":"feeder","topic":"ras/feeder","qos":"1","datatype":"auto-detect","broker":"ce99fbfd46cd3eaf","nl":false,"rap":true,"rh":0,"inputs":0,"x":550,"y":520,"wires":[["66d43b6881c37d9b"]]},{"id":"66d43b6881c37d9b","type":"ui_gauge","z":"737faadcd65adf66","name":"","group":"d13e2ed89db60c20","order":2,"width":5,"height":4,"gtype":"wave","title":"Feeder","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":520,"wires":[]},{"id":"b1e017ce871bae83","type":"inject","z":"737faadcd65adf66","name":"start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":710,"y":1540,"wires":[["76f63420539407d9"]]},{"id":"e556220bfaaa9f35","type":"inject","z":"737faadcd65adf66","name":"start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":650,"y":640,"wires":[[]]},{"id":"66b666d097183483","type":"ui_template","z":"737faadcd65adf66","group":"d13e2ed89db60c20","name":"","order":23,"width":0,"height":0,"format":"<style>\n    body {\n        height: fit-content;\n        min-height: 100vh; /* This ensures a minimum height of the viewport height */\n        margin: 0; /* Remove default margin to avoid unnecessary spacing */\n    }\n\n    button {\n        border: none;\n        border-radius: 8px;\n        text-align: center;\n        width: 50%;\n        transition-duration: 0.4s;\n        background-color: #ddffdd;\n        color: white;\n    }\n    button:hover{\n        background-color: #4caf50;\n        color: black !important;\n    }\n    .nr-dashboard-gauge {\n        border-radius: 1rem;\n        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);\n    }\n    .nr-dashboard-theme ui-card-panel{\n        border: none;\n    }\n    .nr-dashboard-theme .nr-dashboard-gauge-title{\n        margin: 0;\n        margin-top: 0.5rem;\n        font-size: 0.75rem;\n    }\n\n    /* #Tab_Tab_1{ */\n        /* position: sticky; */\n        /* top: 6.5rem; */\n        /* margin-top: 2rem; */\n        /* margin-bottom: 2rem; */\n    /* } */\n\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","x":1140,"y":480,"wires":[[]]},{"id":"b8096d5aee7b71c0","type":"function","z":"737faadcd65adf66","name":"heater","func":"if (msg.payload < 26){\n    node.send({ payload: 1 });\n} else {\n    node.send({ payload: 0 });\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":480,"wires":[["8f279baf4a765900"]]},{"id":"29b616125df66277","type":"http in","z":"737faadcd65adf66","name":"","url":"/preset","method":"post","upload":false,"swaggerDoc":"","x":890,"y":720,"wires":[["f1abf605b3b3ec23","b10d5631a59000df"]]},{"id":"f1abf605b3b3ec23","type":"http response","z":"737faadcd65adf66","name":"","statusCode":"","headers":{},"x":1110,"y":720,"wires":[]},{"id":"b10d5631a59000df","type":"debug","z":"737faadcd65adf66","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1120,"y":840,"wires":[]},{"id":"5d29c1cf8199413b","type":"ui_spacer","z":"737faadcd65adf66","name":"spacer","group":"d13e2ed89db60c20","order":1,"width":1,"height":1},{"id":"87fc136ca024ab1e","type":"ui_spacer","z":"737faadcd65adf66","name":"spacer","group":"d13e2ed89db60c20","order":3,"width":1,"height":1},{"id":"de40ab26c2dbde23","type":"ui_spacer","z":"737faadcd65adf66","name":"spacer","group":"d13e2ed89db60c20","order":4,"width":1,"height":1},{"id":"2b820cb62014ad06","type":"ui_spacer","z":"737faadcd65adf66","name":"spacer","group":"d13e2ed89db60c20","order":5,"width":1,"height":1},{"id":"e1421bf24ab2bb58","type":"ui_spacer","z":"737faadcd65adf66","name":"spacer","group":"d13e2ed89db60c20","order":6,"width":1,"height":1},{"id":"981e2e31584b83d0","type":"ui_spacer","z":"737faadcd65adf66","name":"spacer","group":"d13e2ed89db60c20","order":7,"width":1,"height":1},{"id":"73dc3ba02f76cfc9","type":"ui_spacer","z":"737faadcd65adf66","name":"spacer","group":"d13e2ed89db60c20","order":8,"width":1,"height":1},{"id":"a2f230a0681a8d94","type":"ui_spacer","z":"737faadcd65adf66","name":"spacer","group":"d13e2ed89db60c20","order":9,"width":1,"height":1},{"id":"eb80e98d1b6cda0c","type":"ui_spacer","z":"737faadcd65adf66","name":"spacer","group":"d13e2ed89db60c20","order":10,"width":7,"height":1},{"id":"3e3f434da199ebeb","type":"ui_spacer","z":"737faadcd65adf66","name":"spacer","group":"d13e2ed89db60c20","order":12,"width":1,"height":1},{"id":"6b94791682d1e2b1","type":"ui_spacer","z":"737faadcd65adf66","name":"spacer","group":"d13e2ed89db60c20","order":14,"width":1,"height":1},{"id":"5f9cbd7e0fc124bb","type":"ui_spacer","z":"737faadcd65adf66","name":"spacer","group":"d13e2ed89db60c20","order":15,"width":1,"height":1},{"id":"c1b229866c9edfc0","type":"ui_spacer","z":"737faadcd65adf66","name":"spacer","group":"d13e2ed89db60c20","order":16,"width":7,"height":1},{"id":"6129b3dd4d558a05","type":"ui_spacer","z":"737faadcd65adf66","name":"spacer","group":"d13e2ed89db60c20","order":18,"width":1,"height":1},{"id":"dcfbce262a1691b3","type":"ui_spacer","z":"737faadcd65adf66","name":"spacer","group":"d13e2ed89db60c20","order":20,"width":1,"height":1},{"id":"aa220709018ad5ad","type":"ui_spacer","z":"737faadcd65adf66","name":"spacer","group":"d13e2ed89db60c20","order":21,"width":1,"height":1},{"id":"527fb2d46d439995","type":"ui_spacer","z":"737faadcd65adf66","name":"spacer","group":"d13e2ed89db60c20","order":22,"width":7,"height":1},{"id":"ce99fbfd46cd3eaf","type":"mqtt-broker","name":"mosquitto","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"d13e2ed89db60c20","type":"ui_group","name":"Group 1","tab":"f9e2d15d57753b5b","order":1,"disp":false,"width":7,"collapse":false},{"id":"c9579c803b55a189","type":"ui_group","name":"SOLENOID VALVE","tab":"27c38b3582276906","order":1,"disp":true,"width":"6","collapse":false},{"id":"6bc79e07b15f7ce0","type":"ui_group","name":"PUMP","tab":"27c38b3582276906","order":2,"disp":true,"width":"6","collapse":false},{"id":"7f31cbacded70ed2","type":"ui_group","name":"Hacks","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"c987c4c743e73c47","type":"MySQLdatabase","name":"","host":"localhost","port":"3306","db":"crayfish_db","tz":"","charset":"UTF8"},{"id":"b034de6bb5d039bf","type":"ui_group","name":"Group 1","tab":"214f3ca2f8b2fc27","order":1,"disp":false,"width":"6","collapse":false},{"id":"f9e2d15d57753b5b","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"27c38b3582276906","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"214f3ca2f8b2fc27","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2}]